.Login{
    margin: 0;
    padding-left:772px ;
    font-family: Roboto;
}
.Correo{
    font-family: Roboto;
    
}
.Contraseña{
    font-family: Roboto;
    
}
.cor{
    font-family: Roboto;
    position: relative;
    left: 736px;
}
.cont{
    font-family: Roboto;
    position: relative;
    left: 736px;
}
.verice{
    padding-left: 780px;
}
.enlace{
    padding-left: 754px;
}
.botoe{
    padding-left: 800px;
}

